version: "3.9"

services:
  backend:
    build:
      context: ./Hotel_Stars
    container_name: be-hotel
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build:
      context: ./GD_Booking
    container_name: fe-hotel
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
